# Module 2 - Variables, Basic Data Types & Operators
---
This module will get you familiarised with the concept of variables. We will explore the different types of variables, the operations that we can do on them, as well as some basic built-in Python functions. 

## *1. What is a variable?*
---

A variable is a `placeholder for a value that we store` in Python. Technically, a variable is a `reserved memory location` to store an object. It points to an object stored in memory.

> We get data into Python or create data within Python. Where do we store it? *Variables!*

> We then manipulate the data, create intermediate results and save the output. How do we use and reference the data and intermediate results? *Variables!*


## *2. Rules for naming variables:*
---

Valid variable names in Python follow these rules:
- Only contain alphanumeric characters and underscores (A-z, 0-9, and _ ) 
- Start with a letter or the underscore character, not a number. 
- No spaces in the name
- Cannot be identical to reserved words in Python like `str`, `print`, etc. If there is a logical name for your variable and it conflicts with a Python reserved keyword, then use a single trailing underscore: `var_`

Also remember, variable names in Python are `case-sensitive` ('Size', 'size' and 'SIZE' are three different variables)

Make sure that you give `meaningful names to your variables` so that other your code is readable and maintainable.
```Python
# Examples of invalid variable names
9a=6 
# (starting with a number)
a~5 = 4 
# (special character other than _)


# Examples of valid variable names 
var = "Hello World!"
a_1 = 5
X23 = 10.3
_X = True
```

## *3. Important characteristics of variables:*
---

In Python, `every variable points to an object` which has:
- type 
- identity (reference) 
- value

Let's write the following code to observe this in action:
```Python
a=5 
# '=' assigns a value to the variable
print(type(a))
print(id(a))
print(a)
```

In the code above - type(), id() and print() are called `built-in functions`. Python has many built-in functions. it also gives you the ability to define your own functions.

In [1]:
# Exercises:

# 1. create a variable called 'var' and assign it a value of 10.
var = 10

In [3]:
# 2. print the value, type and reference of the 'var'
print(var)
print(type(var))
print(id(var))

10
<class 'int'>
9789280

### Remember, Python is a dynamically-typed, strongly-typed language

> **Dynamically-typed** means that the type of a variable / object is `not explicitly declared`, but instead it is inferred.

> **Strongly-typed** means that variables cannot be `coerced to unrelated types, or perform operations intended for other types`. Strong typing means that once assigned a value of a particular kind, objects obey strict rules about how they can interact with other objects of various types. 
It is not weakly-typed, as that would mean that the same memory block is being re-interpreted in a different way. Weak-typing means that such rules are more relaxed. This doesn't mean that strongly typed languages are necessarily superior in any way; it's just a language design choice.  1 + "1" = error. 

> **Immutability** is a different concept - The contents of the memory locations, at any given point in the program’s execution, is called the program’s state. `When the state of an object cannot be altered after creation, it is immutable`. When you assign some new value to a variable, what actually happens is that the address changes. The contents of the original memory location are not changed. Other than List/Dictionary/Set, all other object types are immutable. So you aren't changing the value as much as creating a new variable.

Python is considered strongly typed because objects have a distinct notion of what they type they are. Incompatible operations between objects cause errors

The following code is proof that python is dynamically-typed and weakly-typed.
```Python
a=4 # we are not declaring a type explicitly
a=5.6 
a="xyz" # we are coercing the variable to a different type (string) 
print(a) 
```

In [5]:
# Exercises: 

# 1. create a variable called 'mixed' and assign it the value 7.8

In [6]:
# 2. print out the type and value of 'mixed'

In [7]:
# 3. now assign a new value to 'mixed' - the string "this is a string"

In [8]:
# 4. print out the new type, id and value of 'mixed'

In [31]:
# 5.how do the above results demonstrate immutability and dynamic-typing?

In [34]:
# 6. now try to print a string concatenated with an integer 
# print("1" + 1)

In [ ]:
# 7. How does the above result demonstrate strong-typing?

## *4. Data Types - Part 1*
---

### A) `None`: 
The None data type contains *NO VALUE*. It is used to denote a `missing or empty value`. It is a singleton, i.e., there is only 1 instance of the value "None" in memory.
```Python
x = None
print(x)
print(type(x))
```

In [31]:
# Exercise: 

# 1. create a null variable called 'null_var' with the value 'None'. What is its type?

### B) `Integer`: 
The Integer data type holds `whole numbers (negative and positive) that don't contain decimal places`, i.e., *discrete values*.

Examples:
- *Number of students in a classroom*
- *Age of an employee in years*
- *Number of pairs of shoes sold daily*
```Python
x = 5
print(x)
print(type(x))
```

In [32]:
# Exercise

# 1. create a variable called 'num_shoes_sold_daily' and assign it a value of 85. What is its type?

### C) `Float`: 
The Float data type contains `numbers that have decimal places`,i.e., *continuous values*. It can theoretically take any of an infinite number of values.  

Examples:
- *Average revenue per user*
- *Height in metres*
- *Average distance travelled per day*
```Python
x=8.9
print(x)
print(type(x))
```

In [ ]:
# Exercise

# 1. create  variable called 'height_in_mts' and assign it a value of '1.93'. What type is the variable?

### D) `Boolean`: 
The Boolean data type contains the `Logical 'True' or 'False'`,i.e., it can be used to store indicators or "Yes/No" answers.  

Examples:
- *Has the candidate graduated from college?*
- *Is the customer's age greater than 40?*
- *Is the patient female?*

```Python
x=True
print(x)

x=False
print(x)
print(type(x))
```

In [1]:
# Exercise 

# 1. create a variable called 'female_patient' and assign it a value of 'True'. Print out the value and type of the variable.

## *5. Arithmetic Operators:*
---

These operators are used to `perform calculations` on numeric variables - int and float (Some of these operators also work on strings and lists):
<table style="float:left;width:40%;font-size:100%;">
<tr>
<th>Operator</th>
<th>Operation</th>
</tr>

<tr>
<td>+</td>
<td>Addition</td>
</tr>

<tr>
<td>-</td>
<td>Subtraction</td>
</tr>

<tr>
<td>*</td>
<td>Multiplication</td>
</tr>

<tr>
<td>/</td>
<td>Division</td>
</tr>
    
<tr>
<td>%</td>
<td>Mod / Modulo</td>
</tr>

<tr>
<td>**</td>
<td>Exponent - to the power of</td>
</tr>

<tr>
<td>//</td>
<td>Floor division</td>
</tr>
    
</table>

In [9]:
# Exercises:

# 1. Create 2 variables 'a' and 'b'. Assign 'a' a value of 4, and 'b' a value of 5. Find a+b, a-b,a*b, b/a, b//a, b%a and a**b

In [10]:
# 2. Create a variable called "q2_days" to calculate the number of days in the 2nd quarter of the year - April, May, June. 
# What is the value of "q2_days"? What type of variable is "q2_days"?

In [11]:
# 3. Create a variable called "num_seconds" to calculate the number of seconds in a non-leap-year. 
# What is the value of "num_seconds"? What type of variable is "num_seconds"?

In [12]:
# 4. Create a variable called "q3_days" to calculate the number of days in the 3rd quarter of the year- July, Aug, Sep. 
# Find the difference between "q2_days" and "q3_days"

In [13]:
# 5. A company had 50,000 customers in Jan. They lost 2,875 customers in Feb. How many customers are remaining?
# If the remaining customers spend an average of 20 dollars a month, how much monthly revenue can the company expect?

In [14]:
# 6. A company spends 120000 rupees a month on catering services for its employees. There are 40 employees, 25 working days per
# month, and 3 meals per day. What is the average amount spent per employee per meal? What data type is the variable?

In [15]:
# 7. A company orders 100 boxes of sweets to be evenly divided between 24 employees. The remaining boxes are donated to charity.
# How many boxes of sweets were donated? How many boxes of sweets does each employee get? (Use "modulo" and "floor division")

In [ ]:
# 8. A working professional decided to invest Rs. 6,00,000 in a fixed deposit at 7% per year for 3 years (compound interest). 
# Create a variable called "total_sum" to calculate the total sum he received at the end of 3 years. What is the type of the
# "total_sum" variable? (use the "exponent" operator to calculate the answer)

## *6. Comparison / Relational Operators:*
---

These operators are used to `perform comparisons` on variables. They test if a condition is true or false. The result of an expression that contains these operators is always a Boolean (True/False).
<table style="float:left;width:40%;font-size:100%;">
<tr>
<th>Operator</th>
<th>Condition checked</th>
</tr>

<tr>
<td>></td>
<td>greater than</td>
</tr>

<tr>
<td>>=</td>
<td>greater than or equal to</td>
</tr>

<tr>
<td>&#60;</td>
<td>less than</td>
</tr>

<tr>
<td>&#60;=</td>
<td>less than or equal to</td>
</tr>
    
<tr>
<td>==</td>
<td>equal to</td>
</tr>

<tr>
<td>!=</td>
<td>not equal to</td>
</tr>
    
</table>

In [16]:
# Exercises:

# 1. Company X sold 2,000 toys at Rs. 450 per toy. Company Y sold 3,500 toys at Rs. 300 per toy. 
# Is the following statement true or false: "Company X has lower revenue from toys than Company Y"?

In [17]:
# 2. A school is raising money for charity. 9th grade has 60 students who gave an average of Rs. 150 each.
# 10th grade has 90 students who gave an average if Rs. 100 each. 
# - Is this statement true or false: "10th-graders (totally) gave at least as much as 9th-graders, if not more"?

# - Is the following statement true or false: "10th-graders (totally) gave exactly as much as 9th-graders"?

In [ ]:
# 3. Is this statement true or false: "The 4th power of 2 is not equal to the 2nd power of 4"?

## *7. Logical Operators:*
---

These operators are used to `combine multiple logical conditions` in different ways. Remember, the outcome of a condition is a Boolean. So the Logical Operators basically work on Boolean variables. The result of these expressions is always a Boolean (True/False).
<table style="float:left;width:80%;font-size:100%;">
<tr>
<th style="width: 15%">Operator</th>
<th style="width: 20%">Operation</th>
<th style="width: 65%">Description</th>
</tr>

<tr>
<td>and</td>
<td>Logical AND</td>
<td>Returns True ONLY if all inputs are True. Else returns FALSE</td>
</tr>

<tr>
<td>or</td>
<td>Logical OR</td>
<td>Returns False ONLY if all inputs are False. Else returns TRUE</td>
</tr>

<tr>
<td>not</td>
<td>Logical NOT</td>
<td>Returns the complement. Returns False if the input is True and vice-versa</td>
</tr>

</table>

In [18]:
# Exercises:

# 1. A man's weight is 80kgs. Write a logical condition to test whether his weight is between 75kgs and 100kgs.
# Write the condition with and without the AND operator

In [19]:
# 2. There are 3 friends A, B and C whose monthly salaries are Rs.60,000 , Rs.75,000 and Rs.90,000 respectively. 
# - Is this statement true or false: "A's salary is less than the average of their salaries and C's salary is greater 
# than the average of their salaries"?

# - Is this statement true or false: "At least one of the 3 friends has a salary equal to the average of their salaries"?

# - Is this statemnt true or false: "A's salary is not more than Rs.70,000"? (with and without the NOT operator)

In [ ]:
# 3. A husband and wife are 45 and 38 years old respectively. 
# - Write a condition to test whether the age difference bewteen them is either less than 3 years or at least 7 years 

# - Write a condition to test whether the husband is in his forties and the wife is in her thirties.

## *8. Built-in functions*
---

Lets look at Python's basic built-in functions in a little more detail. We have already come across a few of them in the code above. For now, just understand that we need to call a function by its name and optionally send it some important information that it needs as `arguments` within brackets.


### A) `print()`

The print() function is the easiest way to produce output in Python. It converts all the variables/expressions/values that you pass into a string, and then writes that string to the screen. It is extremely useful for debugging, to make sure that your code works as intended.

Syntax: `print(value(s), sep=' ', end = ‘\n’)`

The default separator is `single space ' '` and the default ending of the string is the `newline character '\n'`. The `separator` argument is used when we pass multiple values to be printed in 1 print statement. The `ending` argument is comes into play when we consider how the output of consecutive print statements are delineated. More often than not, we DO NOT specify these arguments because there is rarely a need to change the default valules. 
```Python
print(5+9) # expression
x=400
print(x) # variable
print(50<49) # expression
print(5,9) # values

print(5,9,sep='-',end='X')
print("This was supposed to start on a new line, but i changed the default ending")

```

In [20]:
# Exercises:

# 1. print out the sum of 9 and 23

In [21]:
# 2. print out the value of a variable called 'height' which has the value of 193.5

In [22]:
# 3. print out the result of the expression '150 < 148'

In [23]:
# 4. print out the values of 3 varibles'x','y','z' with the values 10, 12, 14 respectively (using only 1 print statement)

In [ ]:
# 5. print out the numbers 5 and 10, separated by '---' and ending with '!!!'

### B) `input()`

The input() function `accepts user input and stores it as a string`. This function is helpful when our program changes its behaviour based on a user's input - like a quiz game, or the value of a machine learning parameter. You can pass the message prompting user input as the argument to the input() function.

```Python
my_input_name = input("Please enter your name") # stops and waits for user input
print("Hi", my_input_name, "! Its a pleasure to meet you.") 
print(type(my_input_name))

my_input_age = input("Please enter your age")
print("Oh good! You're", my_input_age, "years old.")
print(type(my_input_age))
print(type(int(my_input_age))) # make sure the value can be converted

```

In [ ]:
# Exercises:

# 1. Ask the user to enter his/her name, and store the value in a variable called 'user_name'
# Display a customised greeting to the user containing the recently-entered name 'Hi <name> ! Welcome to our store'
# Ask the user to enter his/her age and store it in a variable called 'user_age'
# Display a message with the user name and age 'Name: <name> Age: <age>'

### C) `type()`

The type() function `returns the data type of a variable/value/expression`. Or in Python terms, it returns the class type of the object passed as parameter. (Remember in Python, everything is an object with a type, identity and value)

```Python
print(type(1)) # int
print(type(1.0)) # float
print(type(True)) # bool
print(type("Hello")) # string
```

The type() function becomes a lot more powerful when used in conjunction with the `is` keyword. It is very important to remember that the `==` equality comparison refers *only to values*. The `is` keyword checks if the 2 arguments refer to the *same object*. 

```Python
print([] == []) # True, because the values of the 2 lists are equal
print([] is []) # False, because they are 2 separate objects with the same value


print(type(1) == 'int') 
# False, because type(1) returns the class type 'int', while the right hand side is a string with value 'int' 

print(type(1) is int) 
# True, because the right hand side is now the reserved keyword 'int', which refers to the integer class type 

```

In [24]:
# Exercises:

# 1. Create a variable called 'customer_spend' and assign it the value 7.54. What is the type of the variable?

In [25]:
# 2. Test if the type of the variable is 'int' using the 'is' keyword

In [ ]:
# 3. Create a variable called 'is_customer' and assign it the value 'True'. What is the type of the variable?

### D) `isinstance()`

The isinstance() `returns true if the 1st argument (value/expression/variable) is an instance of a particular class (2nd argument)`. For the 2nd argument, you can pass a comm-separated gruop of values within brackets.

```Python
print(isinstance(2,int)) # returns True
# Same as: print(type(2) is int)
print(isinstance(2.65,int)) # returns False, because the value is a 'float'
print(isinstance(1,(int,float))) # returns True, because the value is 'int', which is contained in the list of types
```

In [26]:
# Exercises:

# 1. Is the value 3.75 an instance of the class 'int' ?

In [ ]:
# 2. True or False: a variable with value 'True' is either a 'float' or 'int'

### E) `round()`

The round() function `rounds the input value to the nearest integer (if no 2nd argument is passed), or to the specified number of decimal places (if the 2nd argument is passed)`. It is a useful arithmetic function to know.

```Python
print(round(2.65)) # rounds up to 3
print(round(2.4))  # rounds down to 2
print(round(2.666, 2)) # rounds to 2.67 - 2 decimal places

```

In [27]:
# Exercises:

# 1. The average exam score is 78.7. Round it off to the nearest integer

In [ ]:
# 2. The value of pi is 3.14159. Find the value of pi to 3 decimal place.

### F) `pow()`

The pow() function `returns the power of the 1st number to the 2nd number`. 

```Python
print(pow(2, 3)) # returns 2 to the power of 3, which is 8
print(pow(2.5, 2))  # returns 6.25

```

In [28]:
# Exercises: 
# (Solve using pow() as well as the ** operator)

# 1. What is 3 to the 5th power?

In [ ]:
# 2. What is the compound interest earned on a sum of Rs. 10,000 in 3 years at 10% interest?

## *9. Converting between basic data types*
---

### A) `Converting to Integer - int()`: 

The int() function is basically a `constructor` for an Integer object. When we pass a float value to the int() function, the decimal part of the float value gets dropped, leaving only the integer part.

```Python
x=int(5.5)
print(x)
print(type(x))

x=int(-0.2)
print(x)
```

When we pass a number stored as a string to the int() function, it converts the string to an integer. It throws an error if the string cannot be converted to an integer.

```Python
x=int("734")
print(x)

print(type("734"))
print(type(x))
```

In [29]:
# Exercises:

# 1. convert the value 7.25 to an integer

In [ ]:
# 2. convert the string "7.25a" to an integer. Does it throw an error? Now try with the string "7.25"

### B) `Converting to Float - float()`: 

The float() function is a `constructor` for a Float object. When we pass an integer value to the float() function, it converts it to a float data type with decimal part.

```Python
x=float(5)
print(x)

```

When we pass a number stored as a string to the float() function, it converts the string to a float. It throws an error if the string cannot be converted to a float.

```Python
x=float("7.34")
print(x)

print(type("7.34"))
print(type(x))
```

In [30]:
# Exercises:

# 1. convert the value 8 to an float

In [ ]:
# 2. convert the string "8.5abc" to a float. Does it throw an error? Now try with the string "8.5"

### C) `Converting to Boolean - bool()`: 

The bool() function is a `constructor` for a Boolean object. When we pass any non-zero numerical value to the bool() function, it returns True. Else it returns False.

```Python
x=bool(4.3)
print(x)

x=bool(-0.2)
print(x)

x=bool(0)
print(x)
```

We can use these functions whenever we need to ensure that certain types of data conform to certain data types. Remember to always pass compatible data types as arguments to the respective functions while converting.

In [46]:
# Exercises:

# 1. ask the user to input a number. If the number is 0, print 'False'. Otherwise print 'True'. 
# (Remember to convert the input string to a number)

## *Congratulations! You are now a master of Python variables, operators, basic data types and built-in functions.*